table{
    margin: 5%;
    clear: both;
}

td{
    height: 60px;
    width: 200px;
    text-align: center;
    border: 1px solid;
}

.table-cell:hover{
    cursor: pointer;
}

button{
    position: relative;
    left: 46%;
}

ul{
	width: 25%;
	float: left;
}

li{
	list-style-type: none;
}

div{
	clear: both;
}

.data-lists{
    width: 100%;
}