table{
    margin: 5%;
    clear: both;
}

td{
    height: 60px;
    width: 200px;
    text-align: center;
    border: 1px solid;
}

.results .error{
    text-align: center;
    padding: 5%;
}

th{
    text-align: center;
}

th[scope='row']{
    width: 10%;
    padding-right: 1%;
}

.confirm-changes{
    width: 100%;
}

.table-cell:hover{
    cursor: pointer;
}

button{
    position: relative;
    left: 44%;
}

ul.input{
	width: 25%;
	float: left;
}

li{
	list-style-type: none;
}

div{
	clear: both;
}

.data-lists{
    width: 100%;
}
