<!DOCTYPE HTML>
<html>
    <head>
        <title>
            Class Scheduler
        </title>
	<script>
		var serverIP = "{{ ip }}";
	</script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div id="content"></div>
        <script src="js/app.js"></script>
    </body>
    

</html> 
